<div class="row">
  <div class="col-md-6">
    <h6>{{'l_disease.categories' | translate}}</h6>
    <p-multiSelect [defaultLabel]="'choose categories'" [options]="categories" [(ngModel)]="selectedCategoryIdList"
                   [maxSelectedLabels]="0" [style]="{'width':'100%'}"></p-multiSelect>
  </div>
  <div class="col-md-6">
    <h6>{{'l_disease.ageRanges' | translate}}</h6>

    <p-multiSelect [defaultLabel]="'choose age ranges'" [options]="ageRanges" [(ngModel)]="selectedAgeRangeIdList"
                   [maxSelectedLabels]="0" [style]="{'width':'100%'}"></p-multiSelect>

  </div>
</div>


<div class="row" style="margin-bottom: 4px">

  <div class="col-md-6">
    <input pInputText class="ui-inputtext" placeholder="Search Disease"/>

  </div>
  <div class="col-md-6">

    <button pButton type="button" class="ui-button-info" (click)="addDisease()" label="Add Disease..."></button>
  </div>

</div>

<div class="row container-fluid">
  <p-dataTable [value]="diseaseArray" [rows]="10" [paginator]="true">

    <p-column [style]="{'width':'55px'}">

      <ng-template pTemplate="body" let-disease="rowData">

        <span class=" fa fa-edit" (click)="editDisease(disease.diseaseId)" style="color:#5cb85c"> </span>

        <span class=" fa fa-trash" (click)="deleteDisease(disease.diseaseId)" style="color:#5cb85c"> </span>

      </ng-template>
    </p-column>

    <p-column>
      <ng-template pTemplate="header">
        <span>{{'l_disease.name' | translate}}</span>
      </ng-template>
      <ng-template let-disease="rowData" pTemplate="body">
        <span>{{disease.diseaseName}}</span>
      </ng-template>
    </p-column>

    <p-column>
      <ng-template pTemplate="header">
        <span>{{'l_disease.categories' | translate}}</span>
      </ng-template>
      <ng-template let-disease="rowData" pTemplate="body">
        <span *ngFor="let category of disease.categoryList">{{category.categoryName}}, </span>
      </ng-template>
    </p-column>

    <p-column *ngFor="let lang of langCodeEnumList" [style]="{'width':'60px'}">

      <ng-template pTemplate="header">
        <span> <img src="assets/img/flags/{{lang.name}}.png" width="20"></span>
      </ng-template>
      <ng-template let-disease="rowData" pTemplate="body">

        <span class="fa fa-pencil" style="color:#5cb85c"
              (click)="addTransForDisease(lang.value,disease.diseaseId)"></span>

        <span class="fa fa-eye" style="color:#5cb85c" (click)="showDiseaseTrans(lang.value,disease.diseaseId)"></span>

      </ng-template>
    </p-column>

  </p-dataTable>
</div>

<disease-create></disease-create>

<disease-trans-create></disease-trans-create>
<disease-trans-detail (transEditEvent)="editDiseaseTrans($event)"></disease-trans-detail>

