<p-dialog *ngIf="displayDialog" modal="modal" [responsive]="false" [(visible)]="displayDialog"
          [contentStyle]="{'overflow':'visible'}" (onHide)="close()">
  <p-header>
    <div class="row">
      <div class="col-md-4">

        <p-dropdown *ngIf="createMode" [options]="langCodes" [(ngModel)]="disease.langCode" autoWidth="false"
                    [style]="{'width':'40%'}" (onChange)="changeContent()">
          <ng-template let-lang pTemplate="item">
            <img src="assets/img/flags/{{lang.label}}.png" width="24">
            <span style="font-size:14px;float:right;margin-top:7px">{{lang.label}}</span>
          </ng-template>
        </p-dropdown>
      </div>
      <div *ngIf="createMode" class="col-md-4"><h3 class="text-white">{{'t_createDisease' | translate}}</h3></div>
      <div *ngIf="!createMode" class="col-md-4"><h3 class="text-white">{{'t_editDisease' | translate}}</h3></div>

    </div>

  </p-header>

  <div>
    <div class="row">
      <div class="col-md-6">
        <h6>{{'l_disease.categories' | translate}}</h6>
        <p-multiSelect [defaultLabel]="'choose categories'" [options]="categories" [(ngModel)]="disease.categoryIdList"
                       [maxSelectedLabels]="0" [style]="{'width':'100%'}"></p-multiSelect>
      </div>
      <div class="col-md-6">
        <h6>{{'l_disease.ageRanges' | translate}}</h6>

        <p-multiSelect [defaultLabel]="'choose age ranges'" [options]="ageRanges" [(ngModel)]="disease.ageRangeIdList"
                       [maxSelectedLabels]="0" [style]="{'width':'100%'}"></p-multiSelect>

      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <span>{{'l_disease.name' | translate}}</span>
        <input type="text" class="form-control" [(ngModel)]="disease.diseaseName" required>
      </div>
      <div class="col-md-6">
        <span>{{'l_disease.code' | translate}}</span>
        <input type="text" class="form-control" [(ngModel)]="disease.code">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <span>{{'l_disease.medicoName' | translate}}</span>
        <input type="text" class="form-control" [(ngModel)]="disease.medicoName" required>
      </div>
    </div>
    <br>
    <div *ngIf="createMode" class="row">
      <div class="col-md-12">
        <p-accordion [multiple]="true">

          <p-accordionTab>
            <p-header> {{'l_disease.description' | translate}}</p-header>
            <p-editor [(ngModel)]="disease.description"></p-editor>
          </p-accordionTab>

          <p-accordionTab>
            <p-header> {{'l_disease.treatment' | translate}}</p-header>
            <p-editor [(ngModel)]="disease.treatment "></p-editor>
          </p-accordionTab>

          <p-accordionTab>
            <p-header> {{'l_disease.riskFactor' | translate}}</p-header>
            <p-editor [(ngModel)]="disease.riskFactor "></p-editor>
          </p-accordionTab>

          <p-accordionTab>
            <p-header> {{'l_disease.selfCare' | translate}}</p-header>
            <p-editor [(ngModel)]="disease.selfCare "></p-editor>
          </p-accordionTab>

          <p-accordionTab>
            <p-header> {{'l_disease.diagnosedBy' | translate}}</p-header>

            <p-editor [(ngModel)]="disease.diagnosedBy "></p-editor>
          </p-accordionTab>

          <p-accordionTab>
            <p-header> {{'l_disease.whatToExpect' | translate}}</p-header>
            <p-editor [(ngModel)]="disease.whatToExpect "></p-editor>
          </p-accordionTab>

          <p-accordionTab>
            <p-header> {{'l_disease.howCommon' | translate}}</p-header>
            <p-editor [(ngModel)]="disease.howCommon "></p-editor>
          </p-accordionTab>
        </p-accordion>

      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <p-accordion [multiple]="true">
          <p-accordionTab>
            <p-header> {{'l_disease.ref' | translate}}</p-header>
            <p-editor [(ngModel)]="disease.referances "></p-editor>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <span>{{'l_disease.url' | translate}}</span>
        <input type="text" class="form-control" [(ngModel)]="disease.url">
      </div>
      <div class="col-md-6">
        <span>{{'l_disease.probability' | translate}}</span>
        <div class="ui-fluid">
          <p-spinner [(ngModel)]="disease.probability" [min]="0" [max]="100"></p-spinner>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <h6>{{'l_disease.medicalTests' | translate}}</h6>
        <p-multiSelect [defaultLabel]="'choose medical tests'" [options]="medicalTests"
                       [(ngModel)]="disease.medicalTestIdList" [maxSelectedLabels]="0" autoWidth="false"
                       [style]="{'width':'100%'}">
        </p-multiSelect>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <h6>{{'l_disease.gender' | translate}}</h6>
        <p-dropdown [options]="genders" [(ngModel)]="disease.gender" autoWidth="false" [style]="{'width':'90%'}"
                    placeholder="Select a Gender"></p-dropdown>
      </div>

    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <label>{{'l_disease.usedRisk' | translate}}
          <p-checkbox [(ngModel)]="disease.usedRisk" binary="true"></p-checkbox>
        </label>
      </div>
      <div class="col-md-4">
        <label>{{'l_disease.approved' | translate}}
          <p-checkbox [(ngModel)]="disease.approvaled" binary="true"></p-checkbox>
        </label>
      </div>
      <div class="col-md-4">
        <label>{{'l_disease.enabled' | translate}}
          <p-checkbox [(ngModel)]="disease.enabled" binary="true"></p-checkbox>
        </label>
      </div>
    </div>
    <br>
  </div>
  <p-footer>
    <button pButton type="button" class="ui-button-secondary" (click)="close()" label="Close"></button>
    <button *ngIf="createMode" pButton type="button" class="ui-button-success" (click)="save()" label="Save"></button>
    <button *ngIf="!createMode" pButton type="button" class="ui-button-success" (click)="update()"
            label="Update"></button>

  </p-footer>
</p-dialog>
