<!--header start-->
<header class="navbar container-fluid">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">@-HOSPITAL</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home/symptom" routerLinkActive="active">Symptom</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/disease" routerLinkActive="active">Disease</a>
        </li>
        <li class="nav-item my-2 my-lg-0">
          <a class="nav-link" href="#" (click)="logOut()">LogOut</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-sm-0">
        <p-dropdown [options]="langCodeArray" [(ngModel)]="langCode" autoWidth="false" (onChange)="changeLang()">
          <ng-template let-lang pTemplate="item">
            <div class="ui-helper-clearfix">
              <img src="assets/img/flags/{{lang.label}}.png" width="16">
              <span style="font-size:13px;float:right; margin-top:2px">{{lang.label}}</span>
            </div>
          </ng-template>
        </p-dropdown>
      </div>

    </div>
  </nav>
</header>
<!--header end-->

<div class=" row container-fluid ">
  <!--sidebar start-->

    <div class="col-md-2">
      <div class="row">
        <a class="col-md-10 ui-button-info" routerLink="/home/disease" routerLinkActive="active">Disease</a>
      </div>
      <div class=" row">
        <a class="col-md-10 ui-button-info" routerLink="/home/symptom" routerLinkActive="active">Symptom</a>
      </div>
      <div class=" row">
        <a class="col-md-10 ui-button-info" routerLink="/home/category" routerLinkActive="active">Category</a>
      </div>
    </div>

  <!--side bar end-->

  <!-- Main content -->
  <div class="col-md-10">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!-- /.conainer-fluid -->
  </div>
</div>

<footer>

</footer>
